.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem auto 1rem auto;
	.links {
		margin: 2rem 0;
		display: flex;
		li {
			margin: 0 0.8rem;
		}
	}
	.icons {
		.icon {
			font-size: 1.3rem;
			margin: 0 0.8rem;
		}
	}
}
